{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <div style="width: 70%; float: right;">
    <label id="create_message"></label>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">{{ user }}, Logout</button>
    </form>
  </div>

  <div style="width: 30%;">
    <form action="/api/v1/file/?format=json" method="post" id="upload_file">
      {% csrf_token %}
      <label for="file_upload_input"></label>
      <input type="text" name="type" id="file_upload_input" />
      <button type="submit">Upload File</button>
    </form>
  </div>

  <h2 id="page-title">Files list</h2>

  <div id="content"></div>
{% endblock %}

{% block extra_js %}
  <script>
  var meta = '?format=json&username={{ user.username }}&api_key={{ user.api_key.key }}';
  var user_id = {{ user.id }};
  </script>
  <script src="{% static 'scripts.js' %}"></script>
{% endblock %}